.SettingsInterfaceAnimation fieldset{
  border: unset;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 550px;
}
.SettingsInterfaceAnimation fieldset label{
  font-family: roboto;
  font-weight: 500;
  color: #ddddff;
}

.SettingsInterfaceAnimation fieldset ~ p{
  font-size: 15px;
  color: #ddddffaa;
  font-family: roboto;
}