.container{
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container::before{
  content: "";
  width: 100vw;
  height: 100vh;
  background: rgb(4, 4, 4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: var(--overlayer-opacity, 50%);
}