@font-face {
  font-family: Inter;
  src: url('/fonts/inter.ttf');
}

@font-face {
  font-family: Inter;
  font-style: italic;
  src: url('/fonts/inter-italic.ttf');
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html,
body,
button,
input {
  font-size: 16px;
  font-family: 'inter', sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background: #111;
  letter-spacing: 0.055rem;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: unset;
}