.header {
  height: 100vh;
  width: 230px;
  background: hsla(252, 16%, 8%, 100%);
  position: relative;
  z-index: 3;
  padding: 32px 0px 32px 0px;
  border-right: 1px solid hsla(252, 16%, 12%, 100%);
}

.menu {
  display: flex;
  list-style: none;
  width: 100%;
  margin-top: 32px;
  flex-direction: column;
  gap: 2px;
}

.menu .menuItem .menuLink {
  width: calc(100%);
  height: 46px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #dddddfaa;
  position: relative;
  font-weight: 600;
  border: 1px solid transparent;
  border-right: unset;
  text-transform: capitalize;
}

.menu .menuItem .menuLink[data-active="true"] {
  background: linear-gradient(to right, hsla(252, 16%, 12%, 100%), hsla(252, 16%, 8%, 100%));
  border: 1px solid hsla(252, 16%, 12%, 100%);
  border-right: unset;
  color: #fff;
}
.menu .menuItem .menuLink:not([data-active="true"]):hover {
  color: #fff;
}
