#hero{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 16px 24px 24px 24px;
}

#hero > *:not(.header){
  animation: loading 250ms linear forwards;
}

@keyframes loading {
  0%{
    margin-left: -1000px;
  }
  100%{
    margin-left: 0px;
  }
}

.header{
  display: flex;
  gap: 8px;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #2E2B3B;
  padding-bottom: 16px;
}

.header h1{
  font-size: 16px;
}

.navigation .menu{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.navigation .menu .menuItem .menuLink{
  color: hsla(240, 16%, 85%, 75%);
  font-weight: bold;
  font-size: 15px;
  display: flex;
  gap: 12px;
  height: 34px;
  border-radius: 4px;
  align-items: center;
  padding-left: 8px;
  transition: 300ms linear;
}

.navigation .menu .menuItem .menuLink:hover{
  background-color: #14121A;
  transition: 300ms linear;
}

.navigation .menu .menuItem .menuLink span{
  display: flex;
  align-items: center;
  height: 100%;
  transition: 300ms linear;
}

.navigation .menu .menuItem .menuLink svg{
  width: 16px;
  height: auto;
  transition: 300ms linear;
}

.navigation .menu .menuItem .menuLink:hover span, 
.navigation .menu .menuItem .menuLink:hover svg,
.navigation .menu .menuItem .menuLink:hover svg *{
  color: hsla(240, 16%, 85%, 100%);
  stroke-opacity: 1;
  stroke: hsla(240, 16%, 85%, 100%);
}

.footer .btnToggleTheme {
  width: 100%;
  height: 38px;
  position: relative;
  background: #14121A;
  border: unset;
  display: flex;
  cursor: pointer;
  border-radius: 4px;
}

.footer .btnToggleTheme::before{
  content: "";
  height: 38px;
  width: 50%;
  background: #2E2B3B;
  position: absolute;
  z-index: 5;
  border-radius: 4px;
  transition: 300ms linear;
}

.footer .btnToggleTheme[aria-pressed="true"]::before{
  top: 0px;
  animation: moveRigth 350ms linear forwards;
}

.footer .btnToggleTheme[aria-pressed="false"]::before{
 top: 0px;
 animation: moveLeft 350ms linear forwards;
}

@keyframes moveRigth{
  0%{
    right: unset;
    left: 0px;
  }
  100%{
    left: calc(50%);
  }
}

@keyframes moveLeft {
  0%{
    left: unset;
    right: 0px;
  }
  100%{
    right: calc(50%);
  }
}

.footer .btnToggleTheme > span{
  width: 50%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 8px;
  position: relative;
  z-index: 10;
}

.footer .btnToggleTheme .themeText{
  font-weight: bold;
  color: hsla(240, 16%, 85%, 50%);
  height: 38px;
  display: flex;
  align-items: center;
  transition: 450ms linear;
}

.footer .btnToggleTheme svg{
  height: 38px;
  display: flex;
  align-items: center;
  transition: 450ms linear;
}

.footer .btnToggleTheme svg,
.footer .btnToggleTheme svg *{
  stroke: hsla(240, 16%, 85%, 50%);
  width: 16px;
  transition: 450ms linear;
}

.footer .btnToggleTheme[aria-pressed="true"] > span:nth-child(2) svg,
.footer .btnToggleTheme[aria-pressed="true"] > span:nth-child(2) svg *,
.footer .btnToggleTheme[aria-pressed="true"] > span:nth-child(2) .themeText{
  color: #fff;
  stroke: #fff;
  stroke-opacity: 1;
}

.footer .btnToggleTheme[aria-pressed="false"] > span:nth-child(1) svg,
.footer .btnToggleTheme[aria-pressed="false"] > span:nth-child(1) svg *,
.footer .btnToggleTheme[aria-pressed="false"] > span:nth-child(1) .themeText{
  color: #fff;
  stroke: #fff;
  stroke-opacity: 1;
}

.footer .btnToggleTheme > span:hover .themeText,
.footer .btnToggleTheme > span:hover svg,
.footer .btnToggleTheme > span:hover svg *{
  stroke: #fff;
  color: #fff;
  stroke-opacity: 1;
  border-radius: 4px;
}