.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 3000;
  background: rgba(0, 0, 0, 0.8);
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(16px);
  animation: move-in 250ms linear forwards;

  &:is([data-hidden="true"]) { 
    pointer-events: none; 
    z-index: -1;
    display: none;
  }

  &:is([data-hidden="true"]) .wrapper {
    opacity: 0;
  }
} 

@keyframes move-in {
  0% {
   opacity: 0 
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  background: hsla(0, 0%, 7%, 80%);
  padding: 16px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #323232;
  color: hsla(0, 0%, 100%, 100%);
  width: min(420px, calc(100% - 32px));
  gap: 32px;
  animation: move-in 250ms linear forwards;
  transition: 250ms linear;

  & .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid #323232;

    & .button {
      cursor: pointer;
      width: 36px;
      height: 36px;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      color: hsla(0, 0%, 100%, 50%);
      border-radius: 8px;
      border: none;

      &:hover {
        background: hsla(0, 0%, 100%, 25%);
      }
    }
  }

  & .form {
    display: flex;
    flex-direction: column;
    gap: 32px
  }

  & .actions {
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: flex-end;
  }
}

.wrapper .form .container_error {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  padding: 16px;
  background: #341919;
  min-height: 54px;
  align-items: center;
  justify-content: space-between;
  color: #B36162;
  border-radius: 4px;

  & .button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(0, 0%, 100%, 50%);
    border-radius: 8px;
    border: none;

    &:hover {
      background: hsla(0, 0%, 100%, 25%);
    }
  }
}

.wrapper .form .group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wrapper .form .group input,
.wrapper .form .group label {
  width: 100%;
  color: #fff;

  &:is(input) {
    height: 44px;
    border-radius: 4px;
    border: 1px solid #323232;
    padding: 0px 12px;
    background: #111111;
    outline: none;
    box-shadow: none;
  }

  &:is([data-error="true"]) {
    border: 1px solid #341919;
  }
}

.wrapper .form .actions .button {
  cursor: pointer;
  width: 120px;
  height: 42px;
  border-radius: 4px;
  border: none;

  &:is(:last-child) {
    background: #fff;
    color: #111;
  }

  &:is(:first-child) {
    background: #323232;
    color: #fff;
  }

  &:hover {
    opacity: 0.8;
  }
}