.card{
  width: 114px;
  height: 116px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
  justify-content: center;
  position: relative;
}


.card .card_image{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #1C1A24;
  margin: 0 auto;
  outline: 2px solid #353B48;
  outline-offset: 3px;
  cursor: pointer;
}

.card h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
}

.card .card_image:hover{
  outline: 2px solid #3E7BFA;
}

.card[data-edit="true"] .card_image{
  cursor: default;
}

.card[data-edit="true"] img{
  cursor: default;
  transition: 350ms linear;
}

.card[data-edit="true"] .card_image:hover{
  outline: 2px solid #fc5c65;
}

.card .buttonClose:hover ~ a{
  outline: 2px solid #fc5c65;
}

.card[data-edit="true"] h3{
  color: hsla(240, 16%, 85%, 75%);
}

.card .buttonClose{
  position: absolute;
  top: -8px;
  right: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fc5c65;
  z-index: 10;
  cursor: pointer;
  border: unset;
  transition: 300ms linear;
}

.card .buttonClose:hover{
  background: #eb3b5a;
  top: -7px;
  right: 3px;
}

.card .buttonClose span{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .buttonClose svg {
  width: 8px;
  height: 8px;
}

.card .buttonClose svg path{
  stroke-width: 3px;
}