
.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 32px;
  align-items: center;
  width: 100%;
}

.footer .buttonNotify{
  width: 32px;
  height: 32px;
  background: #1C1A24;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  border: unset;
}

.footer .buttonNotify:hover{
  outline-offset: 2px;
  outline: 1px solid #28293D;
}

.footer hr{
  width: calc(100% - 38px);
  height: 1px;
  border-radius: 3px;
  background-color: hsla(252, 16%, 12%, 70%);
  border: unset;
}