.content {
  height: 100vh;
  width: calc(100vw - 232px);
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .painel {
  width: calc(100% - 48px);
  min-height: calc(100vh - 48px);
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 64px;
}

.content .painel .painelHeader h1 {
  font-size: 24px;
  padding-top: 32px;
  font-weight: 500;
  padding-left: 16px;
  text-transform: capitalize;
}

.content .painel .painelHeader h1 a {
  text-decoration: none;
  color: #fff;
}
.content .painel .painelMain {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 54px;
}
